.form-container {
  display: flex;
  justify-content: center;  /* center the whole form horizontally */
  margin-top: 50px;          /* space from top */
}
.input-container input {
  flex: 1;
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  background-color: #f4f4f4;
}

.todo-form {
  display: flex;
  flex-direction: column;   /* stacks h1 on top of input row */
  align-items: flex-start;  /* left-align the h1 */
  gap: 12px;
}

.todo-form h1 {
  font-size: 2rem;
  color: #0000008a;
  margin: 0;
  padding: 15px;
  
}

.todo-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.todo-input-wrapper input {
  width: 250px;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  border-radius: 8px;
}

.add-button {
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 30%;
  width: 36px;
  height: 36px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.add-button:hover {
  background-color: #f3f3f3;
  transform: scale(1.05);
}
.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ae2a2a;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

task-text {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

task-text.completed {
  text-decoration: line-through;
  color: #aaa;
}

delete-btn {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 16px;
}
